#banner_slider a.carousel-control-prev {
    left: 0px;
    top: 410px;
    right: 70px;
    color: #ffffff;
    background-color: #02a763;
  }
  
  #banner_slider a.carousel-control-next {
    right: 0px;
    top: 410px;
    left: 70px;
  }
  
  #banner_slider .carousel-control-next,
  #banner_slider .carousel-control-prev {
    width: 65px;
    height: 65px;
    opacity: 1;
    font-size: 40px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 20px 0px #dedede;
  }
  
  #banner_slider .carousel-control-next:focus,
  #banner_slider .carousel-control-next:hover,
  #banner_slider .carousel-control-prev:focus,
  #banner_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #02a763;
  }

.banner_section {
    width: 100%;
    float: left;
    padding: 120px 0px 140px 0px;
}

.banner_taital_main {
    width: 40%;
    float: left;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #f5f3f3;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #eeeded;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.started_bt {
    width: 175px;
    float: left;
}

.started_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #faf9f9;
    color: #010101;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.started_bt a:hover {
    color: #faf9f9;
    background-color: #02a763;
}

.started_bt.active a {
    color: #faf9f9;
    background-color: #02a763;
}

.buy_bt {
    width: 175px;
    float: left;
}

.buy_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #faf9f9;
    color: #010101;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.buy_bt a:hover {
    color: #faf9f9;
    background-color: #02a763;
}

/* .carousel-indicators {
    top: 350px;
} */